form {
    display: flex;
    flex-direction: column;
    padding: 100px;
    border: 1px solid black;

    label {
        padding: 50px;
    }
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enviar {
    margin-top: 10px;
}

.formulario {
    width: 600px;
}