 @media (max-width: 872px) {

     .cardMedia {

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

     }

 }

 @media (max-width: 1335px) {
     .sobreNosotros {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .sobreNosotros h1 {
         font-size: 70px;
     }

     .sobreNosotros p {
         font-size: 20px;
     }

 }

 @media (max-width: 874px) {
     .sobreNosotros {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .sobreNosotros h1 {
         font-size: 40px;
     }

     .sobreNosotros p {
         font-size: 20px;
     }

 }






 @media (max-width: 1552px) {

     .iluminacion {

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;


     }

     .iluminacion h1 {

         font-size: 70px;

     }
 }

 @media (max-width: 1166px) {


     .iluminacion h1 {

         font-size: 60px;

     }
 }

 @media (max-width: 1038px) {

     .imagen {
         width: 400px;
     }

     .iluminacion h1 {

         font-size: 40px;

     }
 }

 @media (max-width: 781px) {


     .iluminacion h1 {

         font-size: 30px;

     }
 }


 @media (max-width: 635px) {





     .iluminacion h1 {

         font-size: 20px;

     }

 }

 @media (max-width: 507px) {






     .iluminacion h1 {

         font-size: 10px;

     }

 }

 @media (max-width: 720px) {

     .formulario {

         width: 400px;
     }

 }